:root {
    --gray-10: #fafafa; // override value to avoid style conflics: https://github.com/sourcegraph/sourcegraph/pull/32548
}

.command-list-popover {
    // The navbar has z-index 1000
    z-index: 1001 !important;
}

.command-palette-button > span {
    display: flex;
    align-items: center;
}

.btn-icon {
    img {
        // Gitlab applies this to svgs,
        // need to apply it to imgs for consistency too
        position: relative;
        top: 2px;
        vertical-align: baseline;

        // Replicate svg color hover effect
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}

.hover-overlay {
    border-color: #e5e5e5;

    // Override Gitlab's default styles
    pre,
    code {
        padding: 0;
        border: none;
        background: none;
        color: inherit;
    }

    // highlight.js styles

    :global(.hljs) {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #333333;
    }

    :global(.hljs-comment),
    :global(.hljs-quote) {
        color: #999988;
    }

    :global(.hljs-keyword),
    :global(.hljs-selector-tag),
    :global(.hljs-subst) {
        color: inherit;
        font-weight: 600;
    }

    :global(.hljs-number),
    :global(.hljs-literal),
    :global(.hljs-variable),
    :global(.hljs-template-variable),
    :global(.hljs-tag) :global(.hljs-attr) {
        color: #008080;
    }

    :global(.hljs-string),
    :global(.hljs-doctag) {
        color: #dd1144;
    }

    :global(.hljs-title),
    :global(.hljs-section),
    :global(.hljs-selector-id) {
        color: #333333;
    }

    :global(.hljs-subst) {
        font-weight: normal;
    }

    :global(.hljs-type),
    :global(.hljs-class) :global(.hljs-title) {
        color: #445588;
    }

    :global(.hljs-tag),
    :global(.hljs-name),
    :global(.hljs-attribute) {
        color: #000080;
        font-weight: normal;
    }

    :global(.hljs-regexp),
    :global(.hljs-link) {
        color: #009926;
    }

    :global(.hljs-symbol),
    :global(.hljs-bullet) {
        color: #990073;
    }

    :global(.hljs-built_in),
    :global(.hljs-builtin-name) {
        color: #0086b3;
    }

    :global(.hljs-meta) {
        color: #999999;
        font-weight: bold;
    }

    :global(.hljs-deletion) {
        background: #ffdddd;
    }

    :global(.hljs-addition) {
        background: #ddffdd;
    }

    :global(.hljs-emphasis) {
        font-style: italic;
    }

    :global(.hljs-strong) {
        font-weight: bold;
    }
}
